@font-face {
    font-family: 'PPNeueBit-Bold';
    src: url('./PPNeueBit-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PPEditorial-Italic';
    src: url('./PPEditorialNew-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Goia-Regular';
    src: url('./GoiaDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}